@media only screen and (min-width: 1024px) {
.full-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: auto;
    max-width: 1200px;
    padding-bottom: 40px;
}

h1 {
    grid-column: span 2;
}

.info-author-date {
    display: flex;
    flex-direction: row;
    grid-column: span 2;
    gap: 8px;
}

.h1-info{
    display: grid;
    grid-column: span 2;
    grid-gap: 24px;
}

.article-example-text{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color:hsla(0, 0%, 29%, 1);
}

.preview-article-example {
    grid-column: span 2;
    width: 100%;
}

.content-article {
    display: grid;
    grid-column: span 2;
    grid-gap:16px;
}

h5 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color:rgba(51, 51, 51, 1);
}

.position-article {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: underline;
    color: #333;
    display: flex;
    gap:16px;
    align-content: center;
    align-items: center;
    
}

.chapters-article {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h2{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color:rgba(51, 51, 51, 1);
}

.regular{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color:rgba(51, 51, 51, 1);
}

.main-quote {
    display: flex;
    padding: 24px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background-color: #F3F7FE;
}

.graphic-quote {
    position: absolute;
    top:24px;
    left:24px;
}

.text-quote {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.author-quote {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #333;
}

.position-article-without-underline {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-decoration-line: none;
    color: #333;
    display: flex;
    gap:16px;
    align-content: center;
    align-items: center;

}

.photo-content{
    width: 100%;
}

.text-under-photo{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.25px;
    color: #868686;
}

.green-point{
    width: 8px;
    height: 8px;
}

.secondary-quote{
    display: flex;
    padding-left: 103px;
    padding-right: 103px;
    padding-top: 24px;
    padding-bottom: 80px;
    position: relative;
    flex-direction: column;
    gap: 8px;
    background-image: url('Images/Icons/graphic-quote-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    
}

.text-quote-2{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.photo-text{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

h6{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #333;
}

.exercise{
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background-color: #FEFAEC;
}

.exercise-2{
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background-color: #FFF3EB;
}

.photo-text-vertical{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.two-photo-text-vertical {
   display: flex;
   flex-direction: row;
   gap: 24px;
}

.exercise-3{
    display: flex;
    width: 100%;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background-color: #E6F8F6;
}

.ask{
    margin: 70px auto;
    max-width: 1200px;
    flex-direction: row;
    display: flex;
    padding-left: 20px;
    
}

.ask-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}

.secondary-button-2 {
    display: flex;
    padding: 12px 16px;
    width: 238px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color:#35B3A9;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #FFF;
    white-space: nowrap;
}

}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .full-content {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin: auto;
        max-width: 1200px;
        padding-bottom: 40px;
    }
    
    h1 {
        grid-column: span 2;
    }
    
    .info-author-date {
        display: flex;
        flex-direction: row;
        grid-column: span 2;
        gap: 8px;
    }
    
    .h1-info{
        display: grid;
        grid-column: span 2;
        grid-gap: 24px;
    }
    
    .article-example-text{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        color:hsla(0, 0%, 29%, 1);
    }
    
    .preview-article-example {
        grid-column: span 2;
        width: 100%;
    }
    
    .content-article {
        display: grid;
        grid-column: span 2;
        grid-gap:16px;
    }
    
    h5 {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color:rgba(51, 51, 51, 1);
    }
    
    .position-article {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        text-decoration-line: underline;
        color: #333;
        display: flex;
        gap:16px;
        align-content: center;
        align-items: center;
        
    }
    
    .chapters-article {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    h2{
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        color:rgba(51, 51, 51, 1);
    }
    
    .regular{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        color:rgba(51, 51, 51, 1);
    }
    
    .main-quote {
        display: flex;
        padding: 24px;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        border-radius: 16px;
        background-color: #F3F7FE;
    }
    
    .graphic-quote {
        position: absolute;
        top:24px;
        left:24px;
    }
    
    .text-quote {
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 24px;
    }
    
    .author-quote {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: #333;
    }
    
    .position-article-without-underline {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        text-decoration-line: none;
        color: #333;
        display: flex;
        gap:16px;
        align-content: center;
        align-items: center;
    
    }
    
    .photo-content{
        width: 100%;
    }
    
    .text-under-photo{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.25px;
        color: #868686;
    }
    
    .green-point{
        width: 8px;
        height: 8px;
    }
    
    .secondary-quote{
        display: flex;
        padding-left: 103px;
        padding-right: 103px;
        padding-top: 24px;
        padding-bottom: 80px;
        position: relative;
        flex-direction: column;
        gap: 8px;
        background-image: url('Images/Icons/graphic-quote-2.svg');
        background-position: center;
        background-repeat: no-repeat;
        
    }
    
    .text-quote-2{
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    
    .photo-text{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    
    h6{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: #333;
    }
    
    .exercise{
        display: flex;
        width: 100%;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        border-radius: 16px;
        background-color: #FEFAEC;
    }
    
    .exercise-2{
        display: flex;
        width: 100%;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        border-radius: 16px;
        background-color: #FFF3EB;
    }
    
    .photo-text-vertical{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    
    .two-photo-text-vertical {
       display: flex;
       flex-direction: row;
       gap: 24px;
    }
    
    .exercise-3{
        display: flex;
        width: 100%;
        padding: 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        border-radius: 16px;
        background-color: #E6F8F6;
    }
    
    .ask{
        margin: 70px 20px auto;
        max-width: 1200px;
        flex-direction: row;
        display: none;
        
    }
    
    .ask-text{
        display: flex;
        flex-direction: column;
        gap: 24px;
        
    }
    
    .secondary-button-2 {
        display: flex;
        padding: 12px 16px;
        width: 238px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        background-color:#35B3A9;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: #FFF;
        white-space: nowrap;
    }
    
    }

@media only screen and (min-width: 320px) and (max-width:768px) {
        .full-content {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            margin: auto;
            max-width: 1200px;
            padding-bottom: 40px;
        }
        
        h1 {
            grid-column: span 1;
            font-size: 32px;
            line-height: 40px
        }
        
        .info-author-date {
            display: flex;
            flex-direction: row;
            grid-column: span 1;
            gap: 8px;
        }
        
        .h1-info{
            display: grid;
            grid-column: span 1;
            grid-gap: 24px;
        }
        
        .article-example-text{
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color:hsla(0, 0%, 29%, 1);
        }
        
        .preview-article-example {
            grid-column: span 2;
            width: 100%;
        }
        
        .content-article {
            display: grid;
            grid-column: span 2;
            grid-gap:16px;
        }
        
        h5 {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            color:rgba(51, 51, 51, 1);
        }
        
        .position-article {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            text-decoration-line: underline;
            color: #333;
            display: flex;
            gap:16px;
            align-content: center;
            align-items: center;
            
        }
        
        .chapters-article {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        
        h2{
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            color:rgba(51, 51, 51, 1);
        }
        
        .regular{
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            color:rgba(51, 51, 51, 1);
        }
        
        .main-quote {
            display: flex;
            padding: 24px;
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            border-radius: 16px;
            background-color: #F3F7FE;
        }
        
        .graphic-quote {
            position: absolute;
            top:24px;
            left:24px;
        }
        
        .text-quote {
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 24px;
        }
        
        .author-quote {
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            color: #333;
        }
        
        .position-article-without-underline {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            text-decoration-line: none;
            color: #333;
            display: flex;
            gap:16px;
            align-content: center;
            align-items: center;
        
        }
        
        .photo-content{
            width: 100%;
        }
        
        .text-under-photo{
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0.25px;
            color: #868686;
        }
        
        .green-point{
            width: 8px;
            height: 8px;
        }
        
        .secondary-quote{
            display: flex;
            padding-left: 103px;
            padding-right: 103px;
            padding-top: 24px;
            padding-bottom: 80px;
            position: relative;
            flex-direction: column;
            gap: 8px;
            background-image: url('Images/Icons/graphic-quote-2.svg');
            background-position: center;
            background-repeat: no-repeat;
            
        }
        
        .text-quote-2{
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
        }
        
        .photo-text{
            display: flex;
            flex-direction: row;
            gap: 24px;
        }
        
        h6{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            color: #333;
        }
        
        .exercise{
            display: flex;
            width: 100%;
            padding: 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            border-radius: 16px;
            background-color: #FEFAEC;
        }
        
        .exercise-2{
            display: flex;
            width: 100%;
            padding: 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            border-radius: 16px;
            background-color: #FFF3EB;
        }
        
        .photo-text-vertical{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        
        .two-photo-text-vertical {
           display: flex;
           flex-direction: row;
           gap: 24px;
        }
        
        .exercise-3{
            display: flex;
            width: 100%;
            padding: 24px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            border-radius: 16px;
            background-color: #E6F8F6;
        }
        
        .ask{
            margin: 70px 20px auto;
            max-width: 1200px;
            flex-direction: row;
            display: none;
            
        }
        
        .ask-text{
            display: flex;
            flex-direction: column;
            gap: 24px;
            
        }
        
        .secondary-button-2 {
            display: flex;
            padding: 12px 16px;
            width: 238px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 4px;
            background-color:#35B3A9;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            color: #FFF;
            white-space: nowrap;
        }
        
        }